{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/songs/{{song.id}}?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit Song {{ song.title}}</legend>
        <label class="form-label">Song title:
        </label>
        <input
          type="text"
          name="title"
          placeholder="{{ song.title }}"
          required value="{{ song.title }}"
          class="form-control">
        
        <label class="form-label">Artist:</label>
        <input
          type="text"
          name="artist"
          placeholder="{{ song.artist }}"
         
          required value="{{ song.artist }}"
          class="form-control">
        
        <label class="form-label">Album Name:</label>
        <input
          type="text"
          name="albumName"
          placeholder="{{ song.albumName }}"
          required value="{{ song.albumName }}"
          class="form-control">

        
        <label class="form-label">Release Date:</label>
        <input
          type="date"
          name="releaseDate"
          placeholder="{{ song.releaseDate }}"
          
          required value="{{ song.releaseDate }}"
          class="form-control">
          

      </fieldset>

      <input
        type="submit"
        value="Edit {{ song.releaseDate }}"
        class="btn btn-success">
      <a href="/songs/{{ song.id }}" class="btn btn-warning">Back</a>
    </form>
  </div>
{% endblock %}